<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="../../../static/assets/js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/light.css">
    <title></title>
</head>

<body>
    <div class="container">
        <div class="light-container">
            <div class="light-address">A教学楼大厅</div>
            <img class="img-light" src="../../../static/assets/img/red.png"/>
            <div class="level">
                <span>活跃度:</span> 
                <span>高</span>
            </div>
            <div class="time">
                <span>截至</span>
                <span>2020-5-13 8:00</span>
            </div>
        </div>

        <div class="light-container">
            <div class="light-address">A教学楼 205</div>
            <img class="img-light" src="../../../static/assets/img/yellow.png"/>
            <span class="level"></span>
            <div class="level">
                <span>活跃度:</span> 
                <span>中</span>
            </div>
            <div class="time">
                <span>截至</span>
                <span>2020-5-13 8:00</span>
            </div>
        </div>

        <div class="light-container">
            <div class="light-address"> A教学楼 306</div>
            <img class="img-light" src="../../../static/assets/img/green.png"/>
            <span class="level"></span>
            <div class="level">
                <span>活跃度:</span> 
                <span>低</span>
            </div>
            <div class="time">
                <span>截至</span>
                <span>2020-5-13 8:00</span>
            </div>
        </div>

        <div class="light-container">
            <div class="light-address">A教学楼 306</div>
            <img class="img-light" src="../../../static/assets/img/red.png"/>
            <div class="level">
                <span>活跃度:</span> 
                <span>高</span>
            </div>
            <div class="time">
                <span>截至</span>
                <span>2020-5-13 8:00</span>
            </div>
        </div>
    </div>
</body>
<script>
    // function myFunction()
    // {
    //     if (document.getElementById("send_msg").value=="1"){
    //         [...document.getElementsByClassName("light")].map(element => {
    //             element.setAttribute("class","light red")
    //         });
    //     }
    //     if (document.getElementById("send_msg").value=="2"){
    //         [...document.getElementsByClassName("light")].map(element => {
    //             element.setAttribute("class","light yellow")
    //         });
    //     }
    //     if (document.getElementById("send_msg").value=="3"){
    //         [...document.getElementsByClassName("light")].map(element => {
    //             element.setAttribute("class","light green")
    //         });
    //     }
    // }
</script>

</html>