<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyArch.mapper.AddressDao">
    <select id="city" resultType="java.lang.String">
       select distinct city from address_info
    </select>
    <select id="county" resultType="java.lang.String">
       select distinct county from address_info where city=#{city}
    </select>
    <select id="town" resultType="java.lang.String">
       select distinct town from address_info where (city=#{city} and county=#{county})
    </select>
    <select id="street" resultType="java.lang.String">
       select distinct street from address_info where
       (city=#{city} and county=#{county} and town=#{town} )
    </select>

    <select id="specificAddress" resultType="java.lang.String">
       select distinct specific_address from address_info where
       (city=#{city} and county=#{county}
       and town=#{town} and street=#{street})
    </select>



    <select id="select_construction" resultType="java.lang.String">
       select distinct construction from address_info where specific_address
       like #{specific_address}"%"
       and (city=#{city}
       and county=#{county}
       and town=#{town}
       and street=#{street})
    </select>
    <select id="select_mac" resultType="java.lang.String">
       select mac_address from address_info where specific_address
       like #{specific_address}"%"
       and (city=#{city}
       and county=#{county}
       and town=#{town}
       and street=#{street} and construction=#{construction})
    </select>


    <select id="selectLocation_tier" resultType="com.easyArch.entity.Location_tier">
        select location,tier from address_info where mac_address=#{mac_address}
    </select>


</mapper>