<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyArch.mapper.AddressDao">
    <select id="province" resultType="java.lang.String">
       select distinct province from address_info
    </select>
    <select id="city" resultType="java.lang.String">
       select distinct city from address_info where province=#{province}
    </select>
    <select id="county" resultType="java.lang.String">
       select distinct county from address_info where (province=#{province} and city=#{city})
    </select>
    <select id="specificAddress" resultType="java.lang.String">
       select distinct specificadress from address_info where
       (province=#{province} and city=#{city} and county=#{county} )
    </select>


    <resultMap id="MacListAndAddress" type="com.easyArch.entity.MacAndAddress">
        <result column="mac_address" property="mac_address"/>
        <result column="specificadress" property="specificadress"/>
    </resultMap>
    <select id="selectMacs" resultType="com.easyArch.entity.MacAndAddress">
       select mac_address,specificadress from address_info where specificadress
       like #{specificadress}"%" and (province=#{province}
       and city=#{city} and county=#{county})
    </select>

</mapper>