<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyArch.mapper.DateNumberDao">
    <select id="selectAllNumber" resultType="Integer">
       select count(mytime) as num from time_info where mac_address=#{mac_address}
    </select>

    <!-- 范围值为两小时 -->
    <select id="selectTwoHour" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(concat(date(mytime),' ',floor(hour(mytime)/2)*2),'%H')
        as time,count(*) as num from time_info where mac_address=#{mac_address}
        and (mytime between #{date1}
        and #{date2})
        group by time
        order by time
    </select>
    <select id="selectTwoHour1" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(concat(date(mytime),' ',floor(hour(mytime)/2)*2),'%H')
        as time,count(*) as num from time_info where mac_address in (select mac_address from address_info
        where province=#{province})
        and (mytime between #{date1}
        and #{date2})
        group by time
        order by time
    </select>

    <select id="selectTwoHour2" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(concat(date(mytime),' ',floor(hour(mytime)/2)*2),'%H')
        as time,count(*) as num from time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city})
        and (mytime between #{date1}
        and #{date2})
        group by time
        order by time
    </select>

    <select id="selectTwoHour3" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(concat(date(mytime),' ',floor(hour(mytime)/2)*2),'%H')
        as time,count(*) as num from time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city} and county=#{county})
        and (mytime between #{date1}
        and #{date2})
        group by time
        order by time
    </select>


    <!-- 范围值为天 -->
    <select id="selectDay1" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m-%d') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info where province=#{province})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectDay2" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m-%d') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectDay3" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m-%d') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city} and county=#{county})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <!-- 范围值为月 -->
    <select id="selectMonth1" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info where province=#{province})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectMonth2" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectMonth3" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y-%m') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city} and county=#{county})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <!-- 范围值为年 -->
    <select id="selectYear1" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info where province=#{province})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectYear2" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>

    <select id="selectYear3" resultType="com.easyArch.entity.DateAndNumber">
        select date_format(mytime,'%Y') as time,count(*) as num from
        time_info where boxid in (select boxid from address_info
        where province=#{province} and city=#{city} and county=#{county})
        and (mytime between #{date1} and #{date2})
        group by time
        order by time
    </select>



</mapper>