<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .dialog{
            margin: 100px auto;
            width:295px;
            height:200px;
            text-align: center;
            border: solid 1px #c5c5cb;
            border-radius: 20px;
            box-shadow: 0 0 10px #e0e0e7;
            background-color: #ededf4;
            display:none
        }
        .title{
            margin: 30px auto;
        }
    </style>
    <script src="../../../assets/js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <button class="btn">Click me</button>
    <div class="dialog">
        <div class="input-group input-daterange" id="container">
            <form class="form-inline">
                <div class="title">活跃度范围设置:</div>
                <div class="title">
                    <div class="form-group">
                        <select class="form-control" style="left: 10px">
                            <option>低</option>
                            <option>中</option>
                            <option>高</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control"style="left: 10px">
                            <option>20</option>
                            <option>40</option>
                            <option>60</option>
                        </select>
                    </div>
                    <span style="margin-left: 10px">至</span>
                    <div class="form-group">
                        <select class="form-control">
                            <option>40</option>
                            <option>60</option>
                        </select>
                    </div>
                    <button id="search" type="button" class="btn btn-default">保存</button>
                </div>

            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(".btn").click(function(){
        $(".dialog").show(100)
    })

</script>
</html>