<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../css/plane.css">

</head>
<body>
    <div class="image">
        <img src="../../../assets/img/plane1.jpg">
    </div>
    <div class="image" style="left: 690px;margin-right: 20px">
        <img src="../../../assets/img/plane2.jpg">
    </div>

    <button class="btn" style="left: 321px;top: 227px" onclick="window.location.href = 'main3.html'"></button>
    <button class="btn" style="left: 228px;top: 458px"></button>
    <button class="btn" style="left: 327px;top: 492px"></button>
    <button class="btn" style="right: 76px;top: 284px"></button>

</body>
</html>