
#wrapper{
    width: 40%;
    margin: 50px;
}

.row{
    /* display: inline-block;
    overflow: hidden;
    margin: 0 0 0 0; */
    position: absolute;
    right: 5%;
    top: 20%;
}

.input-group input{
    width: 68px
}

#container{
    overflow: hidden;
}

#form{
    float: left;
}

#search-smoke{
    margin-bottom: 15px;
}