<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="pro">
        <img src="../resources/Images/cm1.jpg" alt="图片无法显示" />
        <p class="description">夏季时尚气质雪纺衬衫 我可以试试</p >
        <p class="price">￥130.00</p >
     </div>
     <div class="pro">
        <img src="../resources/Images/cm2.jpg" alt="图片无法显示" />
        <p class="description">2017夏季新款女装 气质长裙 这个可能适合我</p >
        <p class="price">￥168.00</p >
     </div>
</body>
<script>
    var pros = [...document.getElementsByClassName('pro')].forEach(node => {
        node.addEventListener('click',function(event){
            //   if(event.target.nodeName === 'IMG'){
            //       console.log(event.target.src)
            //   }else if(event.target.nodeName == 'p'){
            //       console.log(event.target)
            //   }

            console.log(event.currentTarget)
        })
    });
</script>
</html>