<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="../../assets/js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/light.css">
    <link rel="stylesheet" href="../css/light.css">
    <title>主页</title>
</head>

<body>
    <h2>标题</h2>
    <div  id="ssx">

    </div>
<!--    <div class="div" >-->
<!--        <div class="container" >-->
<!--            <div class="light-container" style="margin-top: 40px">-->
<!--                <div class="light-address">A教学楼 306</div>-->
<!--                <img class="img-light" src="../../assets/img/green.png"/>-->
<!--                <span class="level"></span>-->
<!--                <div class="level">-->
<!--                    <span>活跃度:</span>-->
<!--                    <span><strong>低</strong></span>-->
<!--                </div>-->
<!--                <div class="number">-->
<!--                    <span>总人数:</span>-->
<!--                    <span class="num"></span>-->
<!--                </div>-->
<!--                <div class="time">-->
<!--                    <span>截至目前为止</span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="light-container">-->
<!--                <div class="light-address">A教学楼 306</div>-->
<!--                <img class="img-light" src="../../assets/img/red.png"/>-->
<!--                <div class="level">-->
<!--                    <span>活跃度:</span>-->
<!--                    <span><strong>低</strong></span>-->
<!--                </div>-->
<!--                <div class="number">-->
<!--                    <span>总人数:</span>-->
<!--                    <span class="num"></span>-->
<!--                </div>-->
<!--                <div class="time">-->
<!--                    <span>截至目前为止</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="div">-->
<!--        <div class="container">-->
<!--            <div class="light-container">-->
<!--                <div class="light-address">A教学楼 大厅</div>-->
<!--                <img class="img-light" src="../../assets/img/red.png"/>-->
<!--                <div class="level">-->
<!--                    <span>活跃度:</span>-->
<!--                    <span><strong>低</strong></span>-->
<!--                </div>-->
<!--                <div class="number">-->
<!--                    <span>总人数:</span>-->
<!--                    <span class="num"></span>-->
<!--                </div>-->
<!--                <div class="time">-->
<!--                    <span>截至目前为止</span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="light-container">-->
<!--                <div class="light-address">A教学楼 205</div>-->
<!--                <img class="img-light" src="../../assets/img/yellow.png"/>-->
<!--                <span class="level"></span>-->
<!--                <div class="level">-->
<!--                    <span>活跃度:</span>-->
<!--                     <span><strong>低</strong></span>-->
<!--                </div>-->
<!--                <div class="number">-->
<!--                    <span>总人数:</span>-->
<!--                    <span class="num"></span>-->
<!--                </div>-->
<!--                <div class="time">-->
<!--                    <span>截至目前为止</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="image right">-->
<!--        <img class="plane" src="../../assets/img/plane1.jpg">-->
<!--        <img class="plane" src="../../assets/img/plane2.jpg" style="left: 900px">-->
<!--    </div>-->
</body>
<script src="../js/light.js"></script>
<!--<script>-->
<!--    for(var i=0;i<10;i++) {-->
<!--        var container = document.createElement("div");-->
<!--        container.className = "container";-->
<!--        container.style.cssFloat="left"-->
<!--        var light_container = document.createElement("div");-->
<!--        light_container.className = "light-container";-->
<!--        var light_address = document.createElement("div");-->
<!--        light_address.className = "light-address";-->
<!--        light_address.innerHTML = "标题";-->
<!--        // light_address.innerHTML=arry[i].address;-->
<!--        light_container.appendChild(light_address)-->
<!--        var img_light = document.createElement("img");//根据不同的数据的颜色-->
<!--        img_light.src = "../../assets/img/yellow.png";-->
<!--        img_light.className = "img-light";-->
<!--        light_container.appendChild(img_light);-->
<!--        var level = document.createElement("div");-->
<!--        level.className = "level"-->
<!--        var levelnum = document.createElement("span");-->
<!--        // if (arry[i].nummber<res.color.red)-->
<!--        levelnum.innerHTML = "活跃度：" + "123546" + "<br/>";-->
<!--        level.appendChild(levelnum)-->
<!--        var number = document.createElement("div");-->
<!--        number.className = "number";-->
<!--        var numberm = document.createElement("span");-->
<!--        numberm.innerHTML = "总人数：" + "159";-->
<!--        // // numberm.innerHTML=arry[i].number;-->
<!--        number.appendChild(numberm)-->
<!--        var time = document.createElement("div");-->
<!--        time.className = "time"-->
<!--        var timeg = document.createElement("span");-->
<!--        timeg.innerHTML = "截至目前为止";-->
<!--        time.appendChild(timeg)-->
<!--        light_container.appendChild(level);-->
<!--        light_container.appendChild(number);-->
<!--        light_container.appendChild(time);-->
<!--        container.appendChild(light_container);-->

<!--        document.getElementById('ssx').appendChild(container);-->
<!--    }-->
<!--</script>-->
</html>
